

/*
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;

h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  color: #00302E;
  margin-bottom: 2em;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 48, 46, 0.91);
}
button {
  width: 488px;
  height: 60px;
  left: 848px;
  top: 636px;
  background: #00302E;
  border-radius: 5px;
  width: 488px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FBDDBB;
  border: none;
}
button:hover {
  background: #048580;
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.forgot:hover, .create:hover {
  font-size: large;
}
`



input {
background: rgba(255, 255, 255, 0.83);
border: 1px solid rgba(251, 221, 187, 0.51);
border-radius: 5px;
width: 488px;
height: 71px;
padding: 20px;
font-weight: 400;
font-size: 14px;
line-height: 33px;
color: #333;
margin-bottom: 20px;
*/